* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --icolor: rgb(0, 255, 21);
    --button: black;
    --menu: grey;
    --text: #fff;
    --feature: #C5FFF8;
    --feature-text: black;
    --relocate: #EBE3D5;
    --relocate-text: black;
    --relocatehero: #E48F45;
    --explore: #FFCF96;
    --places: #419197;
    --head: black;
    --food: #5F6F52;
    --projects: #4A403A;
    --cuba: #04293A;
    --footer: #F9DEC9;
    --footer-text: h1;
    --foooter2: #F7EDDB;
}

::selection {
    background: black;
    color: var(--text);
}

html {
    scroll-behavior: smooth;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0.3), transparent), url(image/Background.png);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.logo {
    width: 160px;
    position: absolute;
    top: 4%;
    left: 7%;
    cursor: pointer;
    backdrop-filter: blur(170px);
    background: transparent;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #3F2E3E;
    z-index: 2;
    transition: 0.6s;
}

nav ul li {
    list-style: none;
    margin: 40px 20px;
    justify-content: flex-start;
}

nav ul li a {
    text-decoration: none;
    color: #FFCF96;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Nova Square', sans-serif;
    transition: .5s;
}

nav ul li a:hover {
    color: #F4EEE0;
    transition: .5s;
}

#menuBtn {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    background: #3F2E3E
}

#menuBtn img {
    width: 25px;
    margin-top: 15px;
    color: #E48F45;
}

.banner-content {
    text-align: center;
    color: var(--text);
    padding-top: 200px;
}

.banner-content h1 {
    font-size: 60px;
    font-family: 'Sofia', cursive;
}

.banner-content h4 {
    font-size: 40px;
    font-family: 'Neonderthaw', cursive;
}

.banner-content p {
    font-size: 18px;
    font-style: italic;
}

.banner-btn {
    margin: 40px auto 0;
}

.banner-content i {
    color: var(--icolor);
}

.banner-btn i {
    color: var(--icolor);
    margin-right: 5px;
    font-size: 18px;
    transition: .5s;
}

.banner-btn a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(255, 248, 248);
    border: .5px solid white;
    z-index: 1;
    transition: color 0.6s;
}

.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.6s;
}

.banner-btn a:hover span {
    width: 100%;
}

.banner-btn a:hover i {
    color: var(--button);
    transition: .5s;
}

.banner-btn a:hover {
    color: black;
}

.book-trip {
    margin-top: 50px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 40px;
    margin: 0 20px;
    text-shadow: 2px 2px 2px 2px orange;
    border: none;
    outline: none;
}

::placeholder {
    font-size: 18px;
    color: rgb(4, 4, 4);
    margin: 0 10px;
}

.btn {
    width: 150px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: transparent;
    border: .5px solid white;
    transition: .5s;
}

.btn i {
    font-size: 17px;
    color: var(--icolor);
    transition: .5s;
}

.btn:hover {
    background: var(--button);
    color: #fff;
    border: .5px solid black;
    transition: .5s;
}

.btn:hover i {
    color: rgb(247, 242, 242);
    transition: .5s;
}

#service {
    background: black;
    height: auto;
    width: 100%;
    color: var(--text);
}

.service {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-row h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.row-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 40px;
    transition: .5s;
}

.row-img img:hover {
    transform: scale(1.50);
    transition: .5s;
    cursor: zoom-out;
}

#Features {
    height: auto;
    width: 100%;
    background: var(--feature)
}

.feature {
    color: var(--feature-text);
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.feature-img {
    flex-basis: 50%;
}

.feature-img img {
    margin: 20px 0px;
    width: 70%;
    cursor: pointer;
}

.feature-text {
    flex-basis: 50%;
}

.feature-text h3 {
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.feature-text p {
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
}

.feature-text i {
    color: var(--icolor);
    font-size: 26px;
}

#relocate {
    width: 100%;
    height: auto;
    background: var(--relocate);
}

.relocate {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.relocate-hero:hover {
    transform: scale(1.05);
    transition: .5s;
}

.relocate-hero {
    transition: transform .5s;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.relocate-hero i {
    color: var(--icolor);
}

.relocate-img img {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.relocate-img img:hover {
    filter: brightness(40%);
    transition: .5s;
}

.relocate-text {
    position: absolute;
    left: 5%;
    /* right: 0; */
    top: 280px;
    color: #e3e8e9;
    font-size: 23px;
}

.relocate-right {
    color: var(--text);
    position: absolute;
    top: 10%;
    right: 5%;
}

.relocate-top {
    position: absolute;
    top: 9%;
    left: 5%;
    font-size: 10px;
    color: var(--text);
}

#beach {
    background: #016A70;
    height: auto;
    width: 100%;
    color: var(--text);
}

.beach {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beach-row h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.beach-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 40px;
    transition: .5s;
}

.beach-img img:hover {
    transform: scale(1.20);
    transition: .5s;
    cursor: zoom-out;
}

#explore {
    height: auto;
    width: 100%;
    background: var(--explore);
}

.explore {
    color: var(--feature-text);
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.explore-img {
    flex-basis: 50%;
}

.explore-img img {
    margin: 20px 0px;
    width: 100%;
    cursor: pointer;
    border-radius: 30px;
}

.explore-text {
    flex-basis: 50%;
}

.explore-text h3 {
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.explore-text p {
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 20px;
}

#places {
    width: 100%;
    height: auto;
    background: var(--places)
}

.places {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.places-head {
    margin: 30px auto;
}

.places-hero:hover {
    transform: scale(1.05);
    transition: .5s;
}

.places-hero {
    transition: transform .5s;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}


.places-img img {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.places-img img:hover {
    filter: brightness(40%);
    transition: .5s;
}

.places-text {
    position: absolute;
    left: 5%;
    top: 280px;
    color: #e3e8e9;
    font-size: 23px;
}

.places-right {
    color: var(--text);
    position: absolute;
    top: 10%;
    right: 5%;
}

.places-top {
    position: absolute;
    top: 9%;
    left: 5%;
    font-size: 10px;
    color: var(--text);
}

.place-head {
    text-align: center;
}

.place-head h1 {
    font-family: 'Sofia',
        cursive;
    font-size: 65px;
    padding-top: 20px;
    text-align: center;
}

.place-head h4 {
    font-size: 33px;
    padding-bottom: 5px;
    font-family: 'Neonderthaw',
        cursive;
    color: #582b05;
}

.place-head i {
    transition: .5s;
    color: #582b05;
}

.place-head i:hover {
    color: #0C356A;
    transition: .5s;
}

#food {
    height: auto;
    width: 100%;
    background: var(--food);
}

.food {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.food-text {
    flex-basis: 50%;
}

.food-text h1 {
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 1px;
    color: #4A403A;
}

.food-text p {
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
}

.food-text h3 {
    font-family: 'Alegreya', serif;
    font-size: 23px;
    font-style: italic;
    margin-bottom: 10px;
}

.food-text h3 i {
    color: var(--icolor);
    font-size: 29px;
    margin-left: 10px;
}

.food-img {
    flex-basis: 50%;
    position: relative;
}

.food-img img {
    margin: 20px auto;
    width: 60%;
    border-radius: 30px;
    cursor: pointer;
}

.learn-more button {
    width: 150px;
    height: 50px;
    margin: 30px auto;
    background: transparent;
    color: #000;
    transition: .5s;
    border: .5px solid #e3e8e9;
    font-weight: 600;
}

.learn-more button:hover {
    color: #e3e8e9;
    background: #419197;
    border: #fff;
    transition: .5s;
    font-weight: 600;
    cursor: pointer;
}

#project {
    width: 100%;
    height: auto;
    background: var(--projects);
}

.project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-content {
    margin-top: 20px;
    margin-bottom: 30px;
    background: #fff;
    width: 330px;
    border-radius: 20px;
}


.project-img img {
    width: 300px;
    height: 300px;
    margin: 20px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.project-content h3 {
    text-align: center;
    margin-bottom: 10px;
}

.project-content p {
    line-height: 30px;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-family: 'Alegreya', serif;
    font-size: 22px;
    font-weight: 500;
}

.project-content button {
    width: 150px;
    height: 50px;
    border: 1px solid rgb(154, 117, 117);
    background: #0C356A;
    color: rgb(247, 243, 243);
    text-align: center;
    margin-left: 80px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .5s;
}

.project-content button:hover {
    background: #3F2E3E;
    color: #e3e8e9;
    transition: .5s;
}

.project-head h1 {
    text-align: center;
    font-family: 'Sofia',
        cursive;
    font-size: 70px;
    padding: 30px 0px;
}

.slash {
    width: 210px;
    height: 6px;
    background: var(--relocatehero);
    margin: 10px auto;
}

#culture {
    width: 100%;
    height: auto;
    background: var(--cuba);
}

.culture {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    text-align: center;
}

.culture-text {
    flex-basis: 50%;
    color: var(--text);
}

.culture-text h2 {
    font-size: 55px;
    font-family: 'Sofia',
        cursive;

}

.culture-text h3 {
    font-size: 35px;
    font-family: 'Alegreya',
        serif;
    margin: 20px 0px;

}

.culture-text p {
    font-size: 16px;
    margin: 10px 0px;
    text-align: left;
    line-height: 30px;
}

.culture-img {
    flex-basis: 50%;
}

.culture-text h1 {
    font-size: 48px;
    font-style: italic;
}

.culture-img img {
    width: 75%;
    padding: 40px 0px;
    cursor: pointer;
}

footer {
    background: var(--foooter2);
    padding: 50px 9% 50px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
}

.footer-content h3 {
    color: #0d4e6c;
}

.footer-content img {
    margin-bottom: 20px;
}

.footer-content input {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -10px;
    width: 250px;
}

.footer-content button {
    width: 100px;
    height: 40px;
    color: #000;
    border: 1px solid #13f225;
    transition: .5s;
    background: #13f225;
    cursor: pointer;
}

.footer-content button:hover {
    background: transparent;
    border: 1px solid #000;
    transition: .5s;
    transform: translateY(-5px);
}

::placeholder {
    color: #3F2E3E;
}

.footer-content .icons i {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: #016A70;
    transition: all .20s ease;
}

.footer-content .icons i:hover {
    transform: translateY(-3px) translateY(-3px);
    transition: .5s;
    color: #000;
}

.footer-content li {
    list-style: none;
}

.footer-content li a {
    text-decoration: none;
    line-height: 40px;
    display: block;
    color: #000;
    transition: all .10s ease;
}

.footer-content li a:hover {
    color: #419197;
    transition: .5s;
    transform: translateY(-3px) translateY(-3px);
}

.footer-down h3 {
    text-align: center;
    background: var(--foooter2);
    padding-top: 10px;
    letter-spacing: 5px;
}

.footer-down h4 {
    text-align: center;
    background: var(--foooter2);
    padding-top: 10px;
    letter-spacing: 5px;
    padding-bottom: 20px;
}


/*--------------------------------- MEDIA QUERIES---------------------- */

@media screen and (max-width:830px) {
    #banner {
        height: 60vh;
    }

    .logo {
        width: 140px;
    }

    .banner-content h1 {
        font-size: 45px;
        font-family: 'Sofia', cursive;
    }

    .banner-content h4 {
        font-size: 30px;
        font-family: 'Neonderthaw', cursive;
    }

    .banner-content p {
        font-size: 16px;
        font-style: italic;
        margin-top: 10px;
    }

    input {
        width: 210px;
    }

    .btn {
        width: 130px;
        color: white;
    }

    .row-img img {
        width: 90px;
        height: 90px;
    }

    .row-img img:hover {
        transform: scale(1.30);
    }

    .feature-img {
        flex-basis: 100%;
    }

    .feature-img img {
        margin: 20px 0px;
        width: 90%;
        cursor: pointer;
    }

    .feature-text {
        flex-basis: 100%;
    }

    .feature-text p {
        line-height: 30px;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 30px;
    }

    .explore-img {
        flex-basis: 100%;
    }

    .explore-img img {
        margin: 30px 0px;
        width: 100%;
        cursor: pointer;
        border-radius: 30px;
    }

    .explore-text {
        flex-basis: 100%;
    }

    .explore-text p {
        text-align: left;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .place-head h1 {
        font-size: 50px;
    }

    .place-head h4 {
        font-size: 27px;
    }


    .food {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .food-text {
        flex-basis: 100%;
    }

    .food-text h1 {
        font-size: 100px;
        margin-top: 10px;
    }

    .food-text p {
        line-height: 30px;
        letter-spacing: 1px;
        text-align: left;
    }

    .food-text h3 {
        font-size: 20px;
    }

    .food-img {
        flex-basis: 100%;
    }

    .food-img img {
        margin: 20px auto;
        width: 100%;
        border-radius: 30px;
    }

    .culture {
        flex-direction: column-reverse;
    }

    .culture-text {
        flex-basis: 100%;
    }

    .culture-text h2 {
        font-size: 70px;
        margin-top: 10px;

    }

    .culture-text h3 {
        font-size: 30px;
    }

    .culture-text p {
        font-size: 16px;
    }

    .culture-img {
        flex-basis: 100%;
    }

    .culture-text h1 {
        font-size: 35px;
    }

    .culture-img img {
        width: 100%;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        gap: 1.2rem;
    }

    .footer-content h3 {
        color: #0d4e6c;
        font-size: 15px;
    }

    .footer-content img {
        margin-bottom: 20px;
    }

    .footer-content input {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -10px;
        width: 250px;
    }

    .footer-content button {
        width: 100px;
        height: 40px;
        color: #000;
        border: 1px solid #13f225;
        transition: .5s;
        background: #13f225;
        cursor: pointer;
    }

    .footer-content li a {
        font-size: 14px;
    }
}

@media screen and (max-width:770px) {
    #banner {
        height: 95vh;
    }

    .logo {
        width: 140px;
    }

    .banner-content h1 {
        font-size: 40px;
        font-family: 'Sofia', cursive;
        margin-bottom: 20px;
    }

    .banner-content h4 {
        font-size: 28px;
        font-family: 'Neonderthaw', cursive;
        margin-bottom: 20px;
    }

    .banner-content p {
        font-size: 15px;
        font-style: italic;
        margin-top: 10px;
    }

    input {
        width: 250px;
        display: block;
        margin: 30px auto;
    }

    .btn {
        width: 250px;
        color: white;
    }

    .row-img img {
        width: 60px;
        height: 60px;
    }

    .row-img img:hover {
        transform: scale(1.30);
    }

    .feature-img {
        flex-basis: 100%;
    }

    .feature-img img {
        margin: 30px 0px;
        width: 100%;
        cursor: pointer;
    }

    .feature-text {
        flex-basis: 100%;
    }

    .feature-text h3 {
        font-size: 20px;
    }

    .feature-text p {
        line-height: 35px;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .beach-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 40px;
        transition: .5s;
    }

    .beach-img img:hover {
        transform: scale(1.20);
        transition: .5s;
        cursor: zoom-out;
    }

    .explore-img {
        flex-basis: 100%;
    }

    .explore-img img {
        margin: 30px 0px;
        width: 100%;
        cursor: pointer;
        border-radius: 30px;
    }

    .explore-text {
        flex-basis: 100%;
    }

    .explore-text p {
        text-align: left;
        margin-left: 20px;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }

    .place-head h1 {
        font-size: 40px;
    }

    .food-text {
        flex-basis: 100%;
    }

    .food-text h1 {
        font-size: 60px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .food-text p {
        line-height: 30px;
        letter-spacing: 1px;
        text-align: left;
    }

    .food-text h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .food-img {
        flex-basis: 100%;
    }

    .food-img img {
        margin: 20px auto;
        width: 100%;
        border-radius: 0px;
    }

    .project-head h1 {
        text-align: center;
        font-family: 'Sofia',
            cursive;
        font-size: 40px;
        padding: 30px 0px;
    }

    .culture {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    .culture-text {
        flex-basis: 100%;
    }

    .culture-text h2 {
        font-size: 45px;
        margin-top: 0px;

    }

    .culture-text h3 {
        font-size: 27px;
    }

    .culture-text p {
        font-size: 15px;
    }

    .culture-img {
        flex-basis: 100%;
    }

    .culture-text h1 {
        font-size: 26px;
    }

    .culture-img img {
        width: 100%;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        gap: 1.3rem;
    }

    footer {
        background: var(--foooter2);
        padding: 40px 5% 20px;
    }

    .footer-content img {
        margin-bottom: 20px;
    }

    .footer-content input {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -10px;
        width: 250px;
    }

    .footer-content button {
        width: 100px;
        height: 40px;
        color: #000;
        border: 1px solid #13f225;
        transition: .5s;
        background: #13f225;
        cursor: pointer;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {
    #banner {
        height: auto;
    }

    .btn {
        width: 190px;
        color: white;
        margin-bottom: 30px;
    }

    .row-img img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 40px;
        transition: .5s;
    }

    body {
        background-color: #000;
    }

    .btn {
        width: 250px;
        color: white;
    }

    .place-head h1 {
        font-size: 35px;
    }

    .food-text h1 {
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .project-head h1 {
        text-align: center;
        font-family: 'Sofia',
            cursive;
        font-size: 35px;
        padding: 30px 0px;
    }
}